<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Real Estate Listings</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header class="bg-dark text-white text-center py-3">
        <div class="container">
            <h1 class="mb-0">SAAD HOMES AND RENT</h1>
            <nav class="mt-3">
                <ul class="nav justify-content-center">
                    <li class="nav-item"><a href="/" class="nav-link text-white">Home</a></li>
                    <li class="nav-item"><a href="/listings" class="nav-link text-white">Listings</a></li>
                    <li class="nav-item"><a href="/contact" class="nav-link text-white">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <section class="py-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 mb-4">
                        <div class="card">
                            <img src="/images/placeholder1.jpg" class="card-img-top" alt="Luxury Apartment">
                            <div class="card-body">
                                <h5 class="card-title">Luxury Apartment</h5>
                                <p class="card-text">Experience the ultimate in urban living with our luxurious apartment.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-4">
                        <div class="card">
                            <img src="/images/placeholder2.jpg" class="card-img-top" alt="Cozy Cottage">
                            <div class="card-body">
                                <h5 class="card-title">Cozy Cottage</h5>
                                <p class="card-text">Escape to the countryside and enjoy the serenity of our charming cottage.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-4">
                        <div class="card">
                            <img src="/images/placeholder3.jpg" class="card-img-top" alt="Modern Villa">
                            <div class="card-body">
                                <h5 class="card-title">Modern Villa</h5>
                                <p class="card-text">Indulge in contemporary living with our sleek and stylish villa.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer class="bg-dark text-white text-center py-3">
        <div class="container">
            <p class="mb-0">&copy; 2024 Real Estate Listings. All rights reserved.</p>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
